
/*****************************/
/* HEADER*/
/*****************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;


    height: 9.6rem;
    padding: 0 4.8rem; 
}

.logo {
    height: 2.2rem;
}

/*****************************/
/* NAVIGATION*/
/*****************************/

.main-nav-list {
    /* remove decorations */
    list-style: none;
    /* items are next to each other. */
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display:inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #cf711f;
}

/* when they are directly next to each other this is the AND selector */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #cf711f;

}


/*****************************/
/* HERO SECTION*/
/*****************************/

.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    /* When the element is larger than the container, it will fill 100% of it */
    max-width: 130rem;
    margin: 0 auto;

    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    /* centers into the grid */
    align-items: center;
}



.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}
.hero-img{
    width: 100%;
}



.delivered-meals {
    /* grid over flex bc we allow the objects to determine the size of the columns */
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    display: flex;
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;

    /* to get the images to overlap */
    margin-right: -1.6rem;
    /* this covers the border of the profile pics */
    border: 3px solid #fdf2e9;
}

/* this fixed the margin hanging off the end of the portrait pictures. */
.delivered-imgs img:last-child {
    margin: 0;
}

.delivered-text {
    font-size:1.8rem;
    font-weight: 600;
}

.delivered-text span {
    color: #cf711f;
    font-weight: 700;
}

/*****************************/
/* FEATURED IN SECTION*/
/*****************************/

.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align:center;
    margin-bottom: 2.4rem;
    color: #888;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 3.2rem;

    /* THIS IS INSANELY USEFUL */
    /* filter:grayscale(100%) */
    filter: brightness(0);
    opacity: 50%;

}


/*****************************/
/* How it works*/
/*****************************/

.section-how {
 padding: 9.6rem 0;
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

/* center the container holding the picture of the phone */
.step-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-img-box::before,
.step-img-box::after
{
    content:"";
    /* this is needed if we want to make the object into another shape */
    display: block;

    border-radius: 50%;
    /* this frees the item from this container */
    position: absolute;

    /* centers the object */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* sudo element: does not need to be written in html */
.step-img-box::before{
    width: 60%;
    /* height: 60%; */
    /* 60% of parents width */
    /* dont use flex-box when the image has the same center */
    /* this is a trick to add height to a shape with % that has no height */
    padding-bottom: 60%;
    background: #fdf2e9;

    /* z-index can be complex, we only use it simply here by sending it to back */
    z-index: -2;
}

.step-img-box::after{
    width: 50%;
    padding-bottom: 50%;
    background-color: #fae5d3 ;
    z-index: -1;

}

.step-img {
    width: 35%;
}

/*****************************/
/* MEALS SECTION*/
/*****************************/

.section-meals {
    padding: 5.6rem 0;
}

.meal {
    /* top and bottom \ left and right \ blur */
    box-shadow: 0 2.4px 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    /* hide any material overflowing the container */
    overflow: hidden;
    /* this provides an animation for the cards */
    transition: all 0.4s;
}

.meal:hover {
    /* transform(horizontal, vertical) */
    transform: translateY(-1.2rem);
    /* makes the shadow lighter when hovering over the card */
    box-shadow: 0 3.2px 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.tag{
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #333;
    /* CANNOT USE % only use large pixel or rem values. */
    border-radius: 100px;
    font-weight: 600;
}

.tag--vegetarian {
    background-color: #51cf66;
}

.tag--vegan {
    background-color: #94d82d;
}

.tag--paleo {
    background-color: #ffd43b;
}

.meal-title{
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.meal-attributes {
    list-style: none;

    /* obviously makes the direction into columns, then adds a gap between them. */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap:1.6rem;
}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    /* had to experiment with this */
    color:#e67e22;
}

.meal-img {
    width: 100%;
}

.all-recipes {
    text-align: center;
    font-size: 1.8rem;
}

.all-recipes {
    text-align: center;
    font-size: 1.8rem;
}



/*****************************/
/* TESTIMONIALS SECTION*/
/*****************************/

.section-testimonials {
    background-color: #fae5d3;
    display: grid;
    /* done this way so we can think of it as a % */
    grid-template-columns: 55fr 45fr;
    /* all items are now centered to the middle point. */
    align-items: center;;
}

.testimonials-container{
    padding: 9.6rem;
}

/* setting the testimonial grid */
.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap:4.8rem;
    column-gap: 8rem;
}

.testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}
.testomonial-name {
    font-size: 1.6rem;
    color: #6F6F6F;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery-item {
    /* this makes it so that the edge do not escape the parent element */
    overflow: hidden;
}

.gallery-item img{
    /* gets rid of the spaces inbetween the photos */
    display: block;

    /* this makes the images flexible to the width of the page */
    width: 100%;
    transition: all 0.4s;
}

.gallery-item img:hover{
    /* this makes the images grow larger when you hover over them */
    transform: scale(1.1);
}

/*****************************/
/* MEALS SECTION*/
/*****************************/

.section-pricing {
    padding: 9.6rem 0;
}

.plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
}

.plan-name {
    color: #cf711f;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
}

.plan-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}

.plan-price span {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: .8rem;
}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6F6F6F;
}

.plan-sign-up {
    text-align: center;
    margin-top: 4.8rem;
}
